nav {
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    font-weight: 500;
    font-size: 30px;
    /* color: white; */
}

#jumbotron {
    background-image: url("https://images.pexels.com/photos/1028598/pexels-photo-1028598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    height: 100vh;
    width: 100vw;
}

h4 {
    text-align: center;
    margin: 20px auto;
    display: block;

}

#upload {
    text-align: center;
}