nav {
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    font-weight: 500;
    font-size: 30px;
    /* color: white; */
}

#jumbotron {
    background-image: url("https://images.pexels.com/photos/2171077/pexels-photo-2171077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    height: 100vh;
    width: 100vw;
}

h3, h4, h6 {
    text-align: center;
    margin: 20px auto;
    display: block;

}

.space {
    margin: 20px auto;
}

.box {
    display: flex;
    
}

ul li {
    list-style: none;
}

.eg {
    line-height: 0;
    display: inline-block;
    border: solid 4px white;
    width: 150px;
    height: 200px;
    margin: auto 5px;
    box-shadow: -1 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}

#img-upload {
    text-align: center;
}

#url-search {
    text-align: center; 
}

#name-search {
    text-align: center;
}

/* Content Nutrition */
.display {
    text-align: center;
}

#nutrition-result li ul {
    padding: 20px;
  }
  
#nutrition-result li {
    display: inline-block;
    text-align: center;
    background-color: #05A8AA;
    list-style: none;
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 3px;
  }
  
#nutrition-result .category {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    display: block;
  }
  
#nutrition-result .value {
    color: white;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
  }